<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Registration Form</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        form {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 300px;
        }

        h1, p {
            text-align: center;
        }

        hr {
            margin: 20px 0;
        }

        label {
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        .registerbtn {
            background-color: #4CAF50;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
        }

        .registerbtn:hover {
            background-color: #45a049;
        }

        a {
            color: dodgerblue;
        }
    </style>
</head>
<body>
    <form action="/api/client/create" method="post">
        <h1>Creating new Client</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>
        <label for="name">Forename :</label>
        <input type="text" placeholder="Type your forename" name="name"><br>

        <label for="surname">Surname :</label>
        <input type="text" placeholder="Type your surname" name="surname"><br>

        <label for="email">E-mail :</label>
        <input type="text" placeholder="Type your e-mail" name="email"><br>

        <label for="password">Password :</label>
        <input type="password" placeholder="Type your password" name="password">
        <hr>
        
        <button type="submit" class="registerbtn">Register</button>

        <p style="color: red;">Client with this email alredy exist !!!</p>

        <p>Already have an account? <a href="/signup">Sign in</a>.</p>
    </form>
</body>
</html>
